
/*
============================
Archivo de Estilos CSS
============================
*/

* {
  margin: 0;
  padding: 0;
}
  
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  font-size: 24px;
}

nav {
  background-color: #333333;
  padding-inline-start: 10px;
  padding-block: 16px;
}

nav > a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  padding-right: 32px;
}

main {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

main > .header {
  width: 100%;
  padding-block: 56px;
  background-color: #0070ba;
  color: #f0f0f0;
  text-align: center;
  margin-block-end: 12px;
}

main img{
  height: 390px;
}